ng-floating-label {
    position: relative;
    display: flex;
    flex-direction: column;

    &.focused, &.filled {
        label {
            font-size: 0.7em;
            padding: 0;
            margin: 0;
            color: #7F7F7F;
        }
    }

    label {
        position: absolute;
        margin-top: 0.8em;
        padding: 3px 7px;
        font-size: 0.8em;
        transition: all .2s;
    }

    input, select, textarea {
        outline: none;
        border: none;
        border-bottom: 1px solid #7F7F7F;
        background: none;
        padding: 3px 7px;
        margin-top: 0.8em;
        font-size: 0.8em;
        transition: all .5s;
        width: 100%;

        &:focus {
            border-bottom: 2px solid #1C90F3;
        }
    }
    
    input, select {
        
    }
    
    textarea {
        height: auto;
        resize: none;
        overflow: hidden;
        font-family: sans-serif;
    }
  }